@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 240 5% 96%;
    --foreground: 240 6% 10%;
    --card: 240 5% 96%;
    --card-foreground: 240 6% 10%;
    --popover: 240 5% 96%;
    --popover-foreground: 240 6% 10%;
    --primary: 204 90% 45%;
    --primary-foreground: 0 0% 100%;
    --secondary: 240 5% 84%;
    --secondary-foreground: 240 6% 10%;
    --muted: 240 5% 84%;
    --muted-foreground: 240 4% 45%;
    --accent: 240 5% 84%;
    --accent-foreground: 240 6% 10%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 240 5% 84%;
    --input: 240 5% 88%;
    --ring: 204 90% 45%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 240 6% 12%;
    --foreground: 0 0% 98%;
    --card: 240 5% 16%;
    --card-foreground: 0 0% 98%;
    --popover: 240 6% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 204 90% 55%;
    --primary-foreground: 240 6% 10%;
    --secondary: 240 4% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 4% 20%;
    --muted-foreground: 240 4% 65%;
    --accent: 240 4% 20%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 4% 20%;
    --input: 240 4% 20%;
    --ring: 204 90% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
